/*target all elements*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*target body elements*/
body {
    background-color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

/*target link*/
a {
    color: black;
    text-decoration: none;
}

header {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
}

header h1 {
    color: orange;
    display:inline-block;
    font-size: 48px;
}

header nav {
    float: right;
    font-size: 20px;
    margin-right: 20px;
    padding-top: 15px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*target hero image*/
.hero img {
    flex: auto;
    height: 450px;
    margin-bottom: 20px;
    object-fit: cover;
    width: 100%;
}
/* target content section */
.content {
    display: inline-block;
    margin-left: 20px;
    width: 75%;
}

.content-section {
    display: inline-block;
    background-color: lightgrey;
    color: rgb(46, 115, 218);
    height: 350px;
    width: 1000px;
    margin: 20px;
    padding: 50px;
}
