/*target all elements*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*target body elements*/
body {
    background-color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

/*target link*/
a {
    color: black;
    text-decoration: none;
}

header {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
}

header h1 {
    color: orange;
    display:inline-block;
    font-size: 48px;
}

header nav {
    float: right;
    font-size: 20px;
    margin-right: 20px;
    padding-top: 15px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*target hero image*/
.hero img {
    flex: auto;
    height: 450px;
    margin-bottom: 20px;
    object-fit: cover;
    width: 100%;
}
/* target content section */
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-section {
    display: flex;
    background-color: lightgrey;
    color: rgb(46, 115, 218);
    height: 350px;
    width: 1000px;
    margin: 20px;
    padding: 50px;
}

/* target work-section */
.work-section h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid rgb(46, 115, 218);
    font-size: 25px;
    line-height: 1.1;
}


.work-content div {
    min-height: 450px;
    flex-basis: 100%;
    background-size: cover;
    background-position: center;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: rgb(46, 115, 218);
}
.contact-info h4 {
    color: white;
    align-content: center;
}

.contact-info a {
    margin-left: 25px;
    margin-top: 35px;
    color: white;
}
